:root {
    --pink-left: rgb(226, 36, 125);
}

html {
    background:
        url("../../assets/joanna-kosinska-Uvl3W4XWd4U-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}


body {
    background-color: transparent;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: white 3px solid;
}


.App {
    display: flex;
    flex-direction: column;
}


.row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#col-left {
    background-color: var(--pink-left);
    box-shadow: 12px 12px 30px rgb(221, 9, 108);
    text-align: center;
    min-height: 100vh;
}


#col-right {
    height: 100vh;
}

@media screen and (max-width: 991px) {
    /* for some reason making the nav icon disappear
    messes with the background image on android devices, leaving a white bar
    at the bottom of the page. this is a hacky fix I found */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .col {
        width: 100vw;
    }
}

@media screen and (max-width: 991px),
screen and (max-height: 700px) {
    #col-right {
        min-height: 100vh;
        height: fit-content;
    }
}